
<section class="onhoverCart">
    <div class="container">
        <h3>My Cart<span>({{cart_Item.count}} item)</span></h3>
        <div class="onhoverCart__Items">
            {{#each productInCart}}
            <div class="onhoverCart-List flex-container">
                <div class="onhoverCart-List__img">
                    <img
                        src="{{imageURL}}"
                        alt="{{name}}">
                </div>
                <div class="onhoverCart-List__detail">
                    <h5>{{name}}</h5>
                    <div>
                        <button class="btn btn--minus"
                            onclick="minusCount('{{id}}', {{@index}},
                            {{price}})">-</button>
                        <input type="text" value="{{count}}"
                            class="prod_quantity" id="prod{{@index}}">
                        <button class="btn btn--plus"
                            onclick="addCount('{{id}}', {{@index}}, {{price}})">+</button>
                        <span class="price">Rs.{{price}}</span>
                        <span class="prod-total_price">Rs. <span class="total totalp{{@index}}">{{total_price}}</span></span>
                    </div>
                </div>
            </div>
            {{/each}}
        </div>
        <div class="onhoverCart__batch">
            <div>
                <img
                    src="/static/images/lowest-price.png"
                    alt="">
            </div>
            <div>
                <p>You won't find cheaper
                    anywhere</p>
            </div>
        </div>
        <div class="checkout">
            <p>Promo code can be applied on
                payment page</p>
            <button class="btn btn--full_width">Proceed
                to checkout <span id="totalCheckoutAmount">Rs.
                    0</span></button>
        </div>
    </div>
</section>